html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  margin-bottom: 64px;
}

.main {
  flex: 1 1 auto;
  max-width: 700px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.title {
  margin: 5vh 0;
  text-align: center;
}

.add__field {
  display: grid;
  grid-template-columns: 0 4fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.task {
  padding: 3vh 0;
}

.subtitle {
  margin-bottom: 35px;
  padding-bottom: 10px;
  border-bottom: 3px solid black;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1976d2;
  --bs-btn-border-color: #1976d2;
  --bs-btn-hover-bg: #125699;
  --bs-btn-hover-border-color: #125699;
  --bs-btn-active-bg: #125699;
  --bs-btn-active-border-color: #125699;
  margin-left: 10px;
}

.complited {
  text-decoration: line-through;
}

.form-check {
  display: grid;
  grid-template-columns: 19px 4fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.form-check-label {
  justify-self: start;
  word-wrap: break-word;
}

.form-check-btn {
  justify-self: end;
}